easy_pil
discord.py>=2.3.0
flask
pillow>=9.0.0
ffmpeg
discord_interactions
requests>=2.28.0
pytz
gtts
instagram_private_api
azure-cognitiveservices-speech
aiosqlite
asyncio
cachetools
python-dotenv
psutil
matplotlib>=3.5.0
numpy>=1.21.0